<section id="layout">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Courses</a></li>
                <li class="breadcrumb-item active" aria-current="page">create Courses</li>
            </ol>
        </nav>
    </div>
    
    <div class="image-layout">
        <div class="row">
            <div class="col-md-6">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="../../../assets/logos/add_unit.svg" alt="Card image cap">
                    <div class="card-body">
                        <h6>+ Add Unit</h6>
                    </div>
                  </div> 
            </div>
            <div class="col-md-6">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="../../../assets/logos/add_unit.svg" alt="Card image cap">
                    <div class="card-body">
                        <h6>+ Add Assessment</h6>
                    </div>
                  </div> 
            </div>
        </div>
           
    </div>
</section>